openstack_envvars:
  OS_PROJECT_DOMAIN_NAME: default
  OS_USER_DOMAIN_NAME: default
  OS_PROJECT_NAME: admin
  OS_TENANT_NAME: admin
  OS_USERNAME: admin
  OS_PASSWORD: {{ keystone_admin_password }}
  OS_AUTH_URL: {{ admin_protocol }}://{{ kolla_internal_fqdn }}:{{ keystone_admin_port }}/v3
  OS_INTERFACE: internal
  OS_IDENTITY_API_VERSION: 3
  OS_BAREMETAL_API_VERSION: 1.29
  {% if kolla_enable_tls_external | bool and kolla_external_fqdn_cacert %}
  OS_CACERT={{ container_config_directory }}/haproxy-ca.crt
  {% endif %}
