#!/bin/bash
{% if disk_list is defined %}
# <WARNING ALL DATA ON DISK will be LOST!>
index=0
for d in {{ disk_list }}; do
    if cat /proc/mounts | grep /dev/${d}1; then echo "File system already mounted"
    else
        if parted /dev/${d} -s -- mklabel gpt mkpart KOLLA_SWIFT_DATA 1 -1
        then
            sudo mkfs.xfs -f -L d${index} /dev/${d}1 || ( echo "Failed to create file system on /dev/${d}1 partition"; exit 1; ) #terminate if file system creation fails.
        else
            echo "Disk partitioning failed on /dev/${d}"
            exit 1 #terminate if disk partition fails.
        fi
        (( index++ ))
    fi
done
{% else %}
disk_array=("swift-disk1" "swift-disk2" "swift-disk3")
mnt_array=("d0" "d1" "d2")

for ((i=0;i<=2;i++)); do
    if [ -e /var/cache/${disk_array[$i]} ]
    then
        echo "loopback filesystem exist"
    else
        truncate -s {{ swift_disk_partition_size }} /var/cache/${disk_array[$i]}
        sudo mkfs.xfs /var/cache/${disk_array[$i]}
        echo "/var/cache/${disk_array[$i]} {{ swift_devices_mount_point }}/${mnt_array[$i]} xfs loop,noatime,nodiratime,nobarrier,logbufs=8 0 0" >> /etc/fstab
        mkdir -p {{ swift_devices_mount_point }}/${mnt_array[$i]}
        mount {{ swift_devices_mount_point }}/${mnt_array[$i]}
    fi
done
{% endif %}
