{% if enable_neutron_fwaas | bool %}
[fwaas]
enabled = True
{% if neutron_plugin_agent == 'vmware_nsxv' %}
driver = vmware_nsxv_edge
{% else %}
{% if neutron_fwaas_version == 'v1' %}
agent_version = v1
driver = iptables
{% elif neutron_fwaas_version == 'v2' %}
agent_version = v2
driver = iptables_v2
{% endif %}

[service_providers]
{% if neutron_plugin_agent == 'opencontrail' %}
service_provider = FIREWALL_V2:contrail:neutron_plugin_contrail.plugins.opencontrail.neutron_fwaas.contrail.ContrailFirewallv2Driver:default
{% else %}
service_provider = FIREWALL:Iptables:neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver:default
{% endif %}
{% endif %}
{% endif %}
