{
    "command": "neutron-server --config-file /etc/neutron/neutron.conf {% if neutron_plugin_agent in ['openvswitch', 'linuxbridge', 'opendaylight'] %} --config-file /etc/neutron/plugins/ml2/ml2_conf.ini --config-file /etc/neutron/neutron_lbaas.conf --config-file /etc/neutron/neutron_vpnaas.conf {% elif neutron_plugin_agent in ['vmware_nsxv', 'vmware_dvs'] %} --config-file /etc/neutron/plugins/vmware/nsx.ini {% elif neutron_plugin_agent in ['opencontrail'] %} --config-file /etc/neutron/plugins/opencontrail/ContrailPlugin.ini {% endif %}",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/neutron.conf",
            "dest": "/etc/neutron/neutron.conf",
            "owner": "neutron",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/neutron_lbaas.conf",
            "dest": "/etc/neutron/neutron_lbaas.conf",
            "owner": "neutron",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/neutron_vpnaas.conf",
            "dest": "/etc/neutron/neutron_vpnaas.conf",
            "owner": "neutron",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/ml2_conf.ini",
            "dest": "/etc/neutron/plugins/ml2/ml2_conf.ini",
            "owner": "neutron",
            "perm": "0600"
        }{% if neutron_plugin_agent in ['opencontrail'] -%},
        {
            "source": "{{ container_config_directory }}/ContrailPlugin.ini",
            "dest": "/etc/neutron/plugins/opencontrail/ContrailPlugin.ini",
            "owner": "neutron",
            "perm": "0600"
        }{% if config_api_ssl_enable is defined and config_api_ssl_enable|bool %},
        {
            "source": "{{ container_config_directory }}/contrail-ca-cert.pem",
            "dest": "/etc/neutron/contrail-ca-cert.pem",
            "owner": "neutron",
            "perm": "0600"
        }{% endif %},
        {
            "source": "{{ container_config_directory }}/api-paste.ini",
            "dest": "/etc/neutron/api-paste.ini",
            "owner": "neutron",
            "perm": "0600"
        }{% if enable_haproxy|bool and kolla_enable_tls_external|bool %},
        {
            "source": "{{ container_config_directory }}/haproxy-ca.crt",
            "dest": "/etc/neutron/haproxy-ca.crt",
            "owner": "neutron",
            "perm": "0600"
        }{% endif %}{% endif %},
        {
            "source": "{{ container_config_directory }}/policy.json",
            "dest": "/etc/neutron/policy.json",
            "owner": "neutron",
            "perm": "0600",
            "optional": true
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/neutron",
            "owner": "neutron:neutron",
            "recurse": true
        }
    ]
}
